<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script th:src="@{/jslib/vue.js}"></script>
    <script th:src="@{/jslib/vue-resource.min.js}"></script>
    <script th:src="@{/jslib/axios.min.js}"></script>
    <script th:src="@{/jslib/ase.js}"></script>
</head>
<body>
    <h1>New User</h1>
    <div id="app">

    </div>


<script th:src="@{/js/index.js}"></script>
</body>
</html>