<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script th:src="@{/jslib/vue.js}"></script>
    <script th:src="@{/jslib/vue-resource.min.js}"></script>
    <script th:src="@{/jslib/axios.min.js}"></script>
    <script th:src="@{/jslib/ase.js}"></script>
</head>
<body>
<h1>Quản lí User</h1>
<div id="app">
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>DisplayName</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
        <tr v-for="x in listUser">
            <td>{{x.id}}</td>
            <td>{{x.displayName}}</td>
            <td>{{x.username}}</td>
            <td>{{x.password}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.email}}</td>
            <td>
                <button>Edit User</button>
                <button>Delete User</button>
            </td>
        </tr>
    </table>
</div>


<script th:src="@{/js/index.js}"></script>
</body>
</html>